<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardênia Crochet-Login</title>
    <link rel="stylesheet" href="~/css/styles.css"> <!--Uso para linkar o html ao css-->
    <link rel="stylesheet" href="~/css/global.css">
</head>

<body>
    <main class="login">
        <!--Lado esquerdo-->
        <aside class="lado_esquerdo">
            <img src="~/img/image 5.svg" alt="Logo Gardênia Crochet" class="logo">
            <h2 class="titulo_marca">Gardênia Crochet</h2>
            <p class="descricao">Loja online de peças artesanais de crochet</p>
            <a href="#" class="cadastro">Cadastre-se</a>
        </aside>

        <!--Lado direito-->
        <section class="lado_direito">
            <header class="cabecalho_login">
                <h2 class="titulo_login">Bem vindo(a)!</h2>
                <p class="subtitulo_login">Entre para adquirir peças unicas</p>
            </header>
            <form method="post" action="/Login/Entrar" class="formulario-login">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="email@email.com" required>

                <div class="campo_senha">
                    <label for="senha">Senha:</label>
                    <input type="senha" name="senha" id="senha" placeholder="********" required>
                    <span class="icone_olho">
                        <img src="~/img/eye.svg" alt="">
                    </span>
                </div>
                <button type="submit" class="botao_login">ENTRAR</button>

                <a href="#" class="link_esqueci">Esqueceu sua senha?</a>
                <div class="erro">
                @ViewBag.Erro
                </div>
            </form>
        </section>
    </main>
</body>

</html>