
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/styleProf.css" />
    @* <script src="~/js/site.js" defer></script> *@
</head>
<body>
    <div class="lado-esquerdo">
        <h1>Bem vindo(a), @ViewBag.Cliente!</h1>

        <p>Login realizado com sucesso.</p>

        <a href="/Login/Sair">
            <button>Sair</button>
        </a>
    </div>

</body>
</html>
